@media only screen and (min-width : 320px) and (max-width:480px) {
    section {
        width: 100% !important;
    }

    /* Navigation */

    .back-to-top{
        visibility: hidden;
    }

    .back-to-interest {
        visibility: hidden;
    }

    .back-to-experience {
        visibility: hidden;
    }

    .back-to-contact {
        visibility: hidden;
    }

    .back-to-project-work {
        visibility: hidden;
    }

    .back-to-achievement {
        visibility: hidden;
    }

    .introduction .intro-div p {
        text-align: justify;
    }

    .intro-div{
        padding: 10px 20px !important;
    }

    /* Header */

    .title_text {
        font-size: 1.5em !important;
    }

    .title_role {
        font-size: 1.1em !important;
    }

    /* experience */

    .experience {
        font-weight: 0;
    }

    .experience p {
        font-size: 12px;
        text-align: justify;
    }
    
    .carousel-caption .role{
        font-size: 14px;
    }

    .carousel-caption .organisation{
        font-size: 12px;
    }

    .carousel-caption .period{
        font-size: 12px;
    }

    /* project */

    .project-work .card {
        margin: 20px 0px;
    }

    .project-work .row {
        margin: 0px !important;
    }

    .achievement .achievement_icon {
        top: -40px !important;
    }
}

@media only screen and (min-width : 481px) and (max-width:768px) {
    section {
        width: 90% !important;
    }

    /* navigation */

    .back-to-top{
        visibility: hidden;
    }

    .back-to-interest {
        visibility: hidden;
    }

    .back-to-experience {
        visibility: hidden;
    }

    .back-to-contact {
        visibility: hidden;
    }

    .back-to-project-work {
        visibility: hidden;
    }

    .back-to-achievement {
        visibility: hidden;
    }

    /* introduction */

    .introduction .intro-div p {
        text-align: justify;
    }

    .intro-div{
        padding: 10px 20px !important;
    }

    /* Header */

    .title_text {
        font-size: 1.7em !important;
    }

    .title_role {
        font-size: 1.3em !important;
    }

    /* experience */

    .experience {
        font-weight: 0;
    }

    .experience p {
        font-size: 14px;
        text-align: center;
    }
    
    .carousel-caption .role{
        font-size: 16px;
    }

    .carousel-caption .organisation{
        font-size: 14px;
    }

    .carousel-caption .period{
        font-size: 14px;
    }

    /* project */

    .project-work .card {
        margin: 20px 0px;
    }

    .project-work .row {
        margin: 0px;
    }
}